{% extends "base/base.html" %}

{% block title %}Список сотрудников{% endblock %}

{% block content %}
<div class="py-4">
  
  <div class="d-flex justify-content-between w-100 flex-wrap">
    <div class="mb-3 mb-lg-0">
      <h1 class="h4">Список сотрудников</h1>
      <p class="mb-0"> Вы можете изменить, удалить или добавить сотрудника</p>
    </div>
    <div>
      <form method="get" action="{% url 'user_create' %}">
        <button type="submit" class="btn btn-primary">
            <i class="fas fa-plus"></i> Добавить сотрудника
        </button>
    </form>
    </div>
  </div>
</div>

  <div class="mb-3 d-flex justify-content-between">
    <form class="d-flex align-items-center" method="GET" action="{% url 'user_list' %}" onsubmit="removeSearchParams()">
        <div class="input-group me-2">
            <input class="form-control" type="text" name="q" placeholder="Введите запрос..." aria-label="Search" value="{{ search_query|default_if_none:""  }}">
            <button class="btn btn-outline-success" type="submit">Найти</button>
        </div>
        <div class="dropdown">
            <button class="btn btn-outline-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Компания <i class="fa-solid fa-caret-down"></i>
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'user_list' %}">Все компании</a></li>
                {% for company in company_list %}
                <li><a class="dropdown-item" href="?company={{ company.id }}{% if search_query %}&q={{ search_query }}{% endif %}">{{ company.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </form>
  </div>
  <div class="card border-0 shadow mb-4">
    {% comment %} <div class="card-body"> {% endcomment %}
        <div class="table-responsive">
            <table class="table table-centered table-nowrap mb-0 rounded">
                <thead class="thead-light">
                  <tr>
                    <th>Имя
                      {% comment %} <a href="?sort_by=first_name&sort_direction={{ sort_direction }}">
                        {% if sort_by == 'first_name' %}
                          {% if sort_direction == 'asc' %}
                            <i class="fas fa-sort-up text-secondary"></i>
                          {% else %}
                            <i class="fas fa-sort-down text-secondary"></i>
                          {% endif %}
                        {% else %}
                          <i class="fas fa-sort text-secondary"></i>
                        {% endif %}
                      </a> {% endcomment %}
                    </th>
                    <th>Фамилия
                      {% comment %} <a href="?sort_by=last_name&sort_direction={{ sort_direction }}">
                        {% if sort_by == 'last_name' %}
                          {% if sort_direction == 'asc' %}
                            <i class="fas fa-sort-up text-secondary"></i>
                          {% else %}
                            <i class="fas fa-sort-down text-secondary"></i>
                          {% endif %}
                        {% else %}
                          <i class="fas fa-sort text-secondary"></i>
                        {% endif %}
                      </a> {% endcomment %}
                    </th>
                    <th>Электронная почта
                      {% comment %} <a href="?sort_by=email&sort_direction={{ sort_direction }}">
                        {% if sort_by == 'email' %}
                          {% if sort_direction == 'asc' %}
                            <i class="fas fa-sort-up text-secondary"></i>
                          {% else %}
                            <i class="fas fa-sort-down text-secondary"></i>
                          {% endif %}
                        {% else %}
                          <i class="fas fa-sort text-secondary"></i>
                        {% endif %}
                      </a> {% endcomment %}
                    </th>
                    <th>Компания
                      {% comment %} <a href="?sort_by=company&sort_direction={{ sort_direction }}">
                        {% if sort_by == 'company' %}
                          {% if sort_direction == 'asc' %}
                            <i class="fas fa-sort-up text-secondary"></i>
                          {% else %}
                            <i class="fas fa-sort-down text-secondary"></i>
                          {% endif %}
                        {% else %}
                          <i class="fas fa-sort text-secondary"></i>
                        {% endif %}
                      </a> {% endcomment %}
                    </th>
                    <th>Должность
                      {% comment %} <a href="?sort_by=user&sort_direction={{ sort_direction }}">
                        {% if sort_by == 'user' %}
                          {% if sort_direction == 'asc' %}
                            <i class="fas fa-sort-up text-secondary"></i>
                          {% else %}
                            <i class="fas fa-sort-down text-secondary"></i>
                          {% endif %}
                        {% else %}
                          <i class="fas fa-sort text-secondary"></i>
                        {% endif %}
                      </a> {% endcomment %}
                    </th>
                    <th>Модератор</th>
                    <th></th>
                </tr>
    </thead>
    <tbody id="userTableBody">
      {% for user in users %}
        <tr>
          <td>{{ user.user.first_name }}</td>
          <td>{{ user.user.last_name }}</td>
          <td>{{ user.user.email }}</td>
          <td>{{ user.company }}</td>
          <td>{{ user.role }}</td>
          <td>{{ user.is_staff_russian }}</td>
          <td class="d-flex justify-content-end text-end" style="width: 100px;">
            <form method="get" action="{% url 'user_update' pk=user.pk %}">
              <button type="submit" class="btn">
                <i class="fa-regular fa-pen-to-square fa-lg"></i>
              </button>
            </form>
            <form method="post" action="{% url 'user_delete' pk=user.pk %}">
              {% csrf_token %}
              <button type="submit" class="btn" onclick="return confirm('Вы хотите удалить {{ user.user.first_name }}?')">
                <i class="far fa-trash-alt fa-lg text-danger"></i>
              </button>
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
</div>
  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
      {% if users.has_previous %}
        <li class="page-item"><a class="page-link" href="?page=1{% if search_query %}&q={{ search_query }}{% endif %}">Начальная</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ users.previous_page_number }}{% if search_query %}&q={{ search_query }}{% endif %}">Назад</a></li>
      {% endif %}
      {% for num in users.paginator.page_range %}
        {% if users.number == num %}
          <li class="page-item active"><a class="page-link" href="?page={{ num }}{% if search_query %}&q={{ search_query }}{% endif %}">{{ num }}</a></li>
        {% else %}
          <li class="page-item"><a class="page-link" href="?page={{ num }}{% if search_query %}&q={{ search_query }}{% endif %}">{{ num }}</a></li>
        {% endif %}
      {% endfor %}
      {% if users.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ users.next_page_number }}{% if search_query %}&q={{ search_query }}{% endif %}">Вперед</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ users.paginator.num_pages }}{% if search_query %}&q={{ search_query }}{% endif %}">Последняя</a></li>
      {% endif %}
    </ul>
  </nav>
  <script>
    // Add an event listener to the browser's refresh button
    window.onload = function() {
      if(performance.navigation.type == 1) {
        // Check if the URL contains query parameters
        if (window.location.search.length > 0) {
          // Remove the query parameters and reload the page
          window.location.href = window.location.href.split('?')[0];
        }
      }
    };
  </script>
  
{% endblock %}
